//Reset
@import "./reset.scss";
//Variables
@import "./variables.scss";
//Include Fonts
@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("ttf");
}
html, body {
  min-height: 100%;
  width: 100%;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  height: auto;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 16px;
  color: #454444;
  background: #fff;
}

/*Новые стили для скролла*/
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  border-radius: 5px;
  background-color: #C4C4C4;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  position: relative;
  background: #f3f5f8;
}

.radio-custom > input[type=radio] + label {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 500;
  color: #454444;
}
.radio-custom > input[type=radio] + label > span {
  font-weight: 300;
  color: #718096;
}
.radio-custom > input[type=radio]:checked, .radio-custom > input[type=radio]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.radio-custom > input[type=radio]:checked + label, .radio-custom > input[type=radio]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #454444;
}
.radio-custom > input[type=radio]:checked + label:before, .radio-custom > input[type=radio]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #454444;
  border-radius: 100%;
  background: transparent;
}
.radio-custom > input[type=radio]:checked + label:after, .radio-custom > input[type=radio]:not(:checked) + label:after {
  content: "";
  width: 12px;
  height: 12px;
  background: #6B46C1;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  transition: all 0.2s ease;
}
.radio-custom > input[type=radio]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
.radio-custom > input[type=radio]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
.radio-custom > input[type=radio]:checked + label:before {
  border: 1px solid #6B46C1;
}

.checkbox-custom input[type=checkbox] {
  display: none;
  padding: 0;
  margin-bottom: 0;
  cursor: pointer;
}
.checkbox-custom input[type=checkbox] + label {
  font-size: 14px;
}
@media only screen and (min-width: 768px) {
  .checkbox-custom input[type=checkbox] + label {
    font-size: 16px;
  }
}
.checkbox-custom input[type=checkbox]:checked + label:after {
  content: "";
  position: absolute;
  display: block;
  top: 4px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: 1px solid #6B46C1;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.checkbox-custom input[type=checkbox]:checked + label:before {
  border-color: #6B46C1;
  transition: all 0.2s ease-in-out;
}
.checkbox-custom input[type=checkbox]:checked + label {
  transition: all 0.2s ease-in-out;
}
.checkbox-custom label {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 12px;
}
@media only screen and (min-width: 768px) {
  .checkbox-custom label {
    font-size: 14px;
  }
}
.checkbox-custom label:before {
  content: "";
  appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 22px;
  position: relative;
  background-color: transparent;
  border: 1px solid #454444;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  margin-right: 5px;
}

.base-input {
  padding: 10px;
  width: 100%;
  font-size: 12px;
  line-height: 1.25;
  font-weight: 400;
  border: 1px solid rgba(40, 47, 54, 0.15);
  border-radius: 4px;
}

.content {
  flex: 1 1 auto;
}

.container {
  width: 100%;
  max-width: 976px;
  padding: 0 16px;
  margin: 0 auto;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 7px 14px;
  text-align: center;
  border-radius: 5px;
  color: #fff;
  background: #454444;
  transition: all 0.4s ease-in-out;
}
.btn:hover {
  color: #fff;
  background: #6B46C1;
}
